[mysqld]
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
user=mysql
symbolic-links=0

# 设置字符集
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

# 允许远程连接
bind-address=0.0.0.0

# 日志配置
general_log_file=/var/log/mysql/mysql.log
log_error=/var/log/mysql/error.log

# 设置默认存储引擎为 InnoDB
default_storage_engine=InnoDB

[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4